.idea/
__pycache__/
venv/

.ipynb_checkpoints/
.virtual_documents

build/
dist/
*.spec
*.rar

*.ipynb

datasets/
/data/
mlruns/
mlartifacts

test_df
test_embeddings.npz
test_embeddings2.npz

artifacts/
